[Unit]
Description= tron full node
After=network.target

[Service]
ExecStart=java -Xmx24g -XX:+UseConcMarkSweepGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+CMSParallelRemarkEnabled -XX:ReservedCodeCacheSize=256m -XX:+UseCodeCacheFlushing \
    -XX:MetaspaceSize=256m -XX:MaxMetaspaceSize=512m -XX:MaxDirectMemorySize=1g -XX:+HeapDumpOnOutOfMemoryError -XX:NewRatio=2 -XX:+HeapDumpOnOutOfMemoryError \
    -jar "{{ tron_root }}/FullNode.jar" -c {{ tron_conf_path }} -d {{ tron_datadir }}
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
